<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Loja')}"></div>
    <div class="d-grid gap-3" style="margin-bottom: 1rem;">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" th:href="@{/usuario/home/}">HOME</a>
        <a class="flex-sm-fill text-sm-center nav-link" th:href="@{/usuario/pontos/}">Meus pontos</a>
        <a class="flex-sm-fill text-sm-center nav-link" th:href="@{/usuario/historico/}">Meu historico</a>
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" th:href="@{/loja/home/}">Loja</a>
        <a href="/reciclagem">
            <button class="btn btn-outline-secondary">Cadastrar nova reciclagem</button>
        </a>
    </nav>
    </div>
<h1 style="margin-bottom: 1rem; text-align: center;">Loja</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="produto : ${produtos}">
            <div class="card h-100">
                <img src="" class="card-img-top" alt="..." th:src="@{'/images/'+${produto.urlImagem}}">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title" th:text="${produto.nome}">Card title</h5>
                    <p class="card-text" th:text="'Pontos necessários: '+${#numbers.formatInteger(produto.valorPontos,3,'POINT')}">.</p>
                    <a th:href="@{'/loja/comprar/'+${produto.id}}" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>